body{
    color: rgb(45, 129, 254);
    background-color: azure;
    gap: 10px;
}

body h1{
    font-family: "Chakra Petch";
}

button{
    cursor: pointer;
}

.planet-desc{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

#title-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#central{
    padding: 15px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(136, 138, 150, 0.176);
    border-radius: 5px;
}

#central-a{
    display: flex;
    flex-direction: column;
}

#central-b{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#planet-img{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128, 139, 154);
}

#planet-desc-right{
    padding: 15px;
    background-color: rgba(136, 138, 150, 0.176);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128, 139, 154);
    width: 250px;
    height: 270px;
    border-radius: 5px;
}
